<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.learn.mybatis.BlogMapper">
<!--org.apache.ibatis.learn.mybatis.Department    -->
        <select id="selectDeptById" resultType="org.apache.ibatis.learn.mybatis.Department">
            select * from tbl_dept where id = #{id}
        </select>
</mapper>